<div class="main-container">
  <h3 class="title">{{client._id.client}}</h3>
  <div class="apps-status">
    Apps afectadas: <span class="affected">0</span><span class="total"> / 0</span>
  </div>
  <div class="apps-status">
    Disponibilidad: <span class="percentage">100%</span>
  </div>
  <mat-card (click)="detail()">
    <mat-card-content>
      <div class="types-row">
        <div class="item">
          <div class="icon-container error">
            <mat-icon>dns</mat-icon>
          </div>
          <span class="separator"></span>
          <span class="count">0</span>
        </div>
        <div class="item">
          <div class="icon-container ok">
            <mat-icon>dns</mat-icon>
          </div>
          <span class="separator"></span>
          <span class="count">0</span>
        </div>
      </div>
      <div class="types-row">
        <div class="item">
          <div class="icon-container error">
            <mat-icon>dns</mat-icon>
          </div>
          <span class="separator"></span>
          <span class="count">0</span>
        </div>
        <div class="item">
          <div class="icon-container ok">
            <mat-icon>dns</mat-icon>
          </div>
          <span class="separator"></span>
          <span class="count">0</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
