[hidden] {
  visibility: hidden;
}

.top-section {
  margin-top: 15px;
  padding-bottom: 28px;
  box-shadow: 0px 10.3px 0px -10px #3b1053;
}

.top-section .separator {
  position: absolute;
  left: 0px;
  height: 72px;
  box-shadow: 0 0px 0px 0.2px #3b1053;
  width: 0;
}

h1.main-title {
  margin-left: 45px;
}

.tree-container {
  position: absolute;
  /* top: 265px; */
  top: 190px;
  bottom: 0px;
  overflow-y: auto;
  background: #f4eff0;
  padding-bottom: 15px;
}

.cards-container {
  position: absolute;
  /* top: 265px; */
  top: 190px;
  bottom: 0px;
  overflow-y: auto;
  padding-bottom: 15px;
}

.all-clear {
  padding-bottom: 64px;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-clear mat-icon {
  font-size: 128px;
  height: 128px;
  width: 128px;
  color: rgba(0, 0, 0, 0.3);
}

.all-clear p {
  color: rgba(0, 0, 0, 0.3);
}
#clients{
  height: 100%;
}
@media screen and (max-width: 767px) {
  .tree-container {
    position: relative;
    top: unset;
    bottom: unset;
    height: 192px !important;
  }
  .cards-container {
    position: relative;
    top: unset;
    bottom: unset;
  }
}
 #client-affected-cards{
  height: 50%;
 }
 #reports-container{
  border-style: solid;
  border-color: grey;
  border-top-width: 1px;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  height: 50%;
 }
#report-icon{
  margin-top: 6%;
  cursor: pointer;
}
#title-reportes{
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  font-weight: bold;
  margin-top: 6%;
}