.top-section {
  margin-top: 15px;
  padding-bottom: 28px;
  box-shadow: 0px 10.3px 0px -10px #3b1053;
}

div.stats-alerts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.stats-alerts>div {
  width: 90px;
  height: 45px;
  background: #ef374c;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  font-size: 32px;
  font-weight: 500;
  line-height: 0.77;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.stats-alerts>span {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.76;
  color: #3b1053;
  text-align: center;
}

.top-section .separator {
  position: absolute;
  left: 0px;
  height: 72px;
  box-shadow: 0 0px 0px 0.2px #3b1053;
  width: 0;
}

h1.main-title {
  margin-left: 45px;
}
