table {
  width: 100%;
}

.th-container {
  color: #b19fba;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 33.2px;
}

th:not(:nth-last-child(2)) .th-container {
  border-right: 0.6px solid #b19fba;
}

.th-container>mat-icon {
  margin-right: 4px;
}

.th-container>span {
  font-size: 11.3px;
  font-weight: 300;
}

td {
  text-align: center;
}

td.app-name {
  font-size: 10.9px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.68;
  letter-spacing: normal;
  text-align: left;
  color: #3b1053;
}

td.app-number {
  font-size: 10.9px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.68;
  letter-spacing: normal;
  text-align: center;
  color: #b3b3b3;
}

td.app-actions {
  text-align: right;
}
