table {
  width: 100%;
}

.mat-column-actions {
  width: 180px;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .mat-column-actions {
    display: flex;
    margin-left: 24px;
    max-width: 100% !important;
    justify-content: flex-end !important;
  }
  .mat-table {
    border: 0;
    vertical-align: middle
  }
  .mat-table .mat-header-cell:not(.mat-column-actions) {
    display: none;
  }
  .mat-table .mat-header-cell {
    border-bottom: 0;
  }
  .mat-table .mat-row {
    display: block;
  }
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding-right: 24px;
    text-align: right;
  }
  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    font-weight: 500;
    font-size: 14px;
    margin-right: 12px;
  }
  .mat-table .mat-cell:not(:first-child):not(.mat-column-actions) {
    padding-left: 24px;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  tr.mat-row {
    height: auto !important;
  }
}

mat-panel-title {
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  color: #3b1053;
}
