<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 title">
      <h1 class="main-title">Configuración</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 subtitle">
      <h1>{{ client || 'Cliente inválido' }}</h1>
    </div>
  </div>
</div>
<div class="container" *ngIf="client" [formGroup]="formApp">
  <div class="row">
    <div class="col-md-12 app-header">
      <div class="app-name" *ngIf="appName && !editName">
        <h1>{{ appName }}</h1>
        <button mat-icon-button color="primary" (click)="editNameClick()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="app-input" *ngIf="!appName || editName">
        <mat-form-field>
          <input matInput formControlName="application" placeholder="Nombre de la aplicación">
        </mat-form-field>
      </div>
      <button mat-raised-button color="accent" [disabled]="formApp.invalid" (click)="saveApp()" class="save-button">
        Guardar
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-slide-toggle formControlName="notifications" labelPosition="before" color="primary">Notificaciones
      </mat-slide-toggle>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 sections">
      <mat-accordion>
        <mat-expansion-panel color="accent" *ngFor="let section of sections">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{section.title}}
              <span [matBadge]="getItems(section).length" matBadgeOverlap="false" matBadgeColor="accent"></span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-section-table [items]="getItems(section)" (addItem)="addElement(section.type, $event)"
            (deleteItem)="deleteElement(section.type, $event)">
          </app-section-table>
        </mat-expansion-panel>
      </mat-accordion>
      <!--
      <h4>Sitios</h4>
      <mat-list>
        <button mat-icon-button class="button-add" color="primary" matTooltip="Agregar"
          (click)="addElement(elementType.site)">
          <mat-icon>add</mat-icon>
        </button>
        <mat-list-item *ngFor="let item of application.sites">
          <p class="item" mat-line>
            {{ item.name }}
            <span class="actions">
              <button mat-icon-button color="primary" matTooltip="Editar" (click)="addElement(elementType.site, item)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="Eliminar"
                (click)="deleteElement(elementType.site, item)">
                <mat-icon>delete</mat-icon>
              </button>
            </span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
    <div class="col-md-12">
      <h4>Bases de datos</h4>
      <mat-list>
        <button mat-icon-button color="primary" class="button-add" matTooltip="Agregar"
          (click)="addElement(elementType.database)">
          <mat-icon>add</mat-icon>
        </button>
        <mat-list-item *ngFor="let item of application.databases">
          <p class="item" mat-line>
            {{ item.name }}
            <span class="actions">
              <button mat-icon-button color="primary" matTooltip="Editar"
                (click)="addElement(elementType.database, item)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="Eliminar"
                (click)="deleteElement(elementType.database, item)">
                <mat-icon>delete</mat-icon>
              </button>
            </span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
    <div class="col-md-12">
      <h4>Servicios</h4>
      <mat-list>
        <button mat-icon-button color="primary" class="button-add" matTooltip="Agregar"
          (click)="addElement(elementType.service)">
          <mat-icon>add</mat-icon>
        </button>
        <mat-list-item *ngFor="let item of application.services">
          <p class="item" mat-line>
            {{ item.name }}
            <span class="actions">
              <button mat-icon-button color="primary" matTooltip="Editar"
                (click)="addElement(elementType.service, item)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="Eliminar"
                (click)="deleteElement(elementType.service, item)">
                <mat-icon>delete</mat-icon>
              </button>
            </span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
    <div class="col-md-12">
      <h4>Service bus</h4>
      <mat-list>
        <button mat-icon-button color="primary" class="button-add" matTooltip="Agregar"
          (click)="addElement(elementType.servicebus)">
          <mat-icon>add</mat-icon>
        </button>
        <mat-list-item *ngFor="let item of application.servicebus">
          <p class="item" mat-line>
            {{ item.name }}
            <span class="actions">
              <button mat-icon-button color="primary" matTooltip="Editar"
                (click)="addElement(elementType.servicebus, item)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="Eliminar"
                (click)="deleteElement(elementType.servicebus, item)">
                <mat-icon>delete</mat-icon>
              </button>
            </span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
    <div class="col-md-12">
      <h4>Administradores</h4>
      <mat-list>
        <button mat-icon-button color="primary" class="button-add" matTooltip="Agregar"
          (click)="addElement(elementType.owners)">
          <mat-icon>add</mat-icon>
        </button>
        <mat-list-item *ngFor="let item of application.ownerEmail">
          <p class="item" mat-line>
            {{ item }}
            <span class="actions">
              <button mat-icon-button color="primary" matTooltip="Editar"
                (click)="addElement(elementType.owners, item)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="Eliminar"
                (click)="deleteElement(elementType.owners, item)">
                <mat-icon>delete</mat-icon>
              </button>
            </span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div> -->
    </div>
  </div>
