<div class="main-container">
  <h4>{{ title }}</h4>
  <button mat-icon-button class="button-reload" color="primary" (click)="reload()">
    <mat-icon>loop</mat-icon>
  </button>
  <div class="chart-container" *ngIf="!isLoading">
    <ngx-charts-line-chart [view]="view" [results]="data" [roundDomains]="true" [xAxis]="true" [yAxis]="true"
      [legend]="true" [legendPosition]="'below'" [legendTitle]="legendTitle" [showXAxisLabel]="true"
      [showYAxisLabel]="true" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="autoScale"
      [yAxisTicks]="yAxisTicks" [yAxisTickFormatting]="yAxisTickFormatting" [tooltipDisabled]="false"
      (select)="onSelect($event)" *ngIf="data.length > 0">
      <ng-template #tooltipTemplate let-model="model">
        <pre>{{model.response}}</pre>
      </ng-template>
    </ngx-charts-line-chart>
    <span *ngIf="data.length === 0 && !error">No existen datos disponibles</span>
    <span *ngIf="error">Ocurrió un error al obtener la información</span>
  </div>
  <div class="loader" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
</div>
