.list-container {
  color: #3b1053;
  background: #f4eff0;
  height: 100%;
  overflow-y: auto;
  margin-left: -15px;
  margin-right: -15px;
}

.list-container ul.main-list {
  background: #f4eff0;
}

ul {
  list-style: none;
}

li.parent {
  font-size: 22px;
}

li.child {
  font-size: 14px;
}
